In [2]:
import numpy as np
import pandas as pd
df = pd.read_excel("СберМаркет итог Июль 2023.xlsx")
df = df[['utm_campaign', 'Город', 'Профиль', 'Unnamed: 22']]
df = df[df['utm_campaign'] == 'm134']
df_msk = df[df['Unnamed: 22'] == 2]
df_else = df[df['Unnamed: 22'] == 1]

In [3]:
def zp(x):
    if 'Универсал' in x:
        return 100
    if 'Сборщик' in x:
        return 50
    if 'Водитель' in x:
        return 110
    if 'Универсал на машине' in x:
        return 140
    if 'Пеший курьер' in x:
        return 100
    return 0

In [4]:
def zp2(x):
    if 'Универсал' in x:
        return 80
    if 'Сборщик' in x:
        return 50
    if 'Водитель' in x:
        return 100
    if 'Универсал на машине' in x:
        return 100
    if 'Пеший курьер' in x:
        return 80
    return 0

In [5]:
df_msk

     utm_campaign            Город    Профиль  Unnamed: 22
109          m134     Екатеринбург    Сборщик            2
134          m134     Екатеринбург  Универсал            2
279          m134  МО, Волоколамск  Универсал            2
296          m134         МО, Клин  Универсал            2
297          m134         МО, Клин  Универсал            2
...           ...              ...        ...          ...
4686         m134           Самара  Универсал            2
5796         m134      МО, Дмитров  Универсал            2
5797         m134      МО, Дмитров  Универсал            2
5798         m134      МО, Дмитров  Универсал            2
5829         m134           Москва  Универсал            2

[114 rows x 4 columns]

In [4]:
df_msk['zp'] = df_msk['Профиль'].apply(zp)
df_else['zp'] = df_else['Профиль'].apply(zp2)

C:\Users\asd\AppData\Local\Temp\ipykernel_12304\599963294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_msk['zp'] = df_msk['Профиль'].apply(zp)
C:\Users\asd\AppData\Local\Temp\ipykernel_12304\599963294.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_else['zp'] = df_else['Профиль'].apply(zp2)

In [5]:
new_df = pd.concat([df_msk, df_else])