In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("СберМаркет до 8.10.xlsx")

In [14]:
df['hours'] = df['Зарегистрирован'].dt.hour

In [17]:
df2 = df[['Валидный лид', 'hours']]

In [19]:
df2.groupby('hours')['Валидный лид'].count()

hours
0       7
3      20
4      74
5      43
6     286
7     306
8     310
9     275
10    289
11    216
12    274
13    435
14    365
15    559
16    497
17    301
18    311
19    216
20    176
21     54
22     57
23      5
Name: Валидный лид, dtype: int64

In [21]:
df2

      Валидный лид  hours
0                0      4
1                0      5
2                0     16
3                1     10
4                1     12
...            ...    ...
5071             1     15
5072             0     15
5073             1     15
5074             1     15
5075             0     15

[5076 rows x 2 columns]

In [23]:
df2.to_excel('val_lead.xlsx')